.section_title span {
    display: inline-block;
    background: #33D4D6;
    width: 60px;
    height: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 4px;
}
.service_area {
    padding-top: 50px;
    /* padding-bottom: 120px; */
  }
  
  @media (max-width: 767px) {
    .service_area {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .service_area {
      padding-top: 100px;
      padding-bottom: 70px;
    }
  }
  .service_area .single_service {
    background: #0a8cff;
    background: -moz-linear-gradient(top, #053661 0%, #798896 100%);
    background: -webkit-linear-gradient(top, #053661 0%, #054680 100%);
    background: linear-gradient(to bottom, #053661 0%, #798896 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a8cff', endColorstr='#054680',GradientType=0 );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .service_area .single_service .service_icon {
    margin: 50px auto 43px auto;
    display: inline-block;
  }
  
  .service_area .single_service .info span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
  }
  
  .service_area .single_service .info h3 {
    color: #33D4D6;
    font-weight: 400;
    font-size: 30px;
  }
  
  .service_area .single_service .service_content {
    padding: 30px 50px 50px 50px;
    margin-top: 28px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    .service_area .single_service .service_content {
      padding: 30px 23px 50px 23px;
    }
  }
  @media (min-width: 992px){
.col-lg-4 {
    max-width: 33.333333%;
}
  }
/* @media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
} */
  .service_area .single_service .service_content ul li {
    list-style: none    ;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    font-weight: 400;
    position: relative;
    z-index: 0;
    padding-left: 18px;
  }
  
  .service_area .single_service .service_content ul li::before {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #33D4D6;
  }

  .service_area .single_service .service_content .apply_btn {
    margin-top: 40px;
  }

  .service_area .single_service .service_content .apply_btn button {
    width: 100%;
  }
  .boxed-btn3 {
    background: #33D4D6;
    color: #fff;
    display: inline-block;
    padding: 11px 29px 13px 29px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.services{
    border-top: 1px solid rgb(66, 65, 65);
    border-bottom: 1px solid rgb(66, 65, 65);
    margin-bottom: 25px;
    background-color: #94aac6;
}
.button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #528B8B;
    color: black;
    text-align: center;
    font-size: 45px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2.5px;
  }
  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button2:hover {
    background-color: #6dc2c2;
    color: white;
  }
  .button2:hover span {
    padding-right: 25px;
  }
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }